header {
  padding: 1.5rem 2rem;
}
nav {
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  //padding: 2rem 1rem 0 1rem;
  z-index: 2;
  align-items: center;
  .nav__name {
    flex: 1;

    position: relative;
    display: flex;
    align-items: center;

    .logo {
      width: 20%;
      height: 2rem;

      img {
        width: 100%;
      }
    }

    p {
      padding-top: 7px;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: $primary-color;
      border: none;
      position: absolute;
      top: 0;
      height: 100%;
      left: 7%;
    }
  }
  .nav__items {
    flex: 1;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 2.7rem;
    height: 39px;
    li {
      margin-left: 3rem;
      padding-top: 7px;
      //margin-bottom: 0.2rem;

      a {
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 2px;
        &:hover {
          border-bottom: 2px solid $secondary-color;
          color: $secondary-color;
          //@include trans-ease-in-out;
        }
      }
    }
  }
}
